body {
	background-color: #333333;
	color: #DDD;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 1px;
	overflow-y:scroll;
}

body a {
	color: #8EB28E;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

header {
	background-color: #444444;
	width: 80%;
	margin: auto;
	border-bottom: 15px solid #333333;
	padding: 15px 0px;
}

header a {
	font-size: 18pt;
	text-decoration: none;
	margin: 0px 15px;
}

#container {
	display:flex;
	width: 80%;
	margin: auto;
}

#home_wrapper, #post_wrapper, #tagged_posts_wrapper, #login_wrapper {
	background-color: #444444;
	flex-grow: 1;
}

#sidebar {
	background-color: #444444;
	min-width: 25%;
	border-left: 15px solid #333333;
	padding: 10px;
}

.post {
	margin: 10px;
}

.title {
	border: 2px solid #333333;
	padding: 10px;
	font-size: 16pt;
	color: #8EB28E;
	margin-bottom: 10px;
}

.body, .timestamp, .post_tags{
	padding: 5px 12px;
	margin-top: 5px;
}

.timestamp, .post_tags {
	font-size: 10pt;
}

.post_tag {
	color: #8EB28E;
}

.under:hover {
	text-decoration: underline;
}

#tagged_posts_header {
	background-color: #8EB28E;
	color: #333;
	border-bottom: 15px solid #333333;
	padding: 10px;
}

#prevnext {
	margin: 15px 15px;
	display: flex;
}

#prev {
	flex-grow: 1;
}

#popular_tags_header {
	display: block;
	font-size: 14pt;
	border-bottom: 1px solid #8EB28E;
	padding-bottom: 8px;
	margin-bottom: -10px;
}

#popular_tags_list {
	list-style: none;
	padding: 0px;
}

#popular_tags_list li {
	margin-bottom: 8px;
}

#login_wrapper {
	text-align: center;
	padding: 50px;
}

#login_wrapper input[type="text"], input[type="password"] {
	margin: 10px auto;
	display: block;
	border: none;
	padding: 5px;
	font-size: 14pt;
	background-color: #333;
	color: #8EB28E;
	width: 40%;
}

#login_wrapper input[type="text"]:focus, input[type="password"]:focus {
	outline: 1px solid #8EB28E;
}

#login_wrapper input[type="submit"] {
	padding: 5px;
	font-size: 14pt;
	color: #333;
	background-color: #8EB28E;
	width: 40%;
	border: none;
}

#login_wrapper input[type="submit"]:hover {
	cursor: pointer;
}

#logged_in_as {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #8EB28E;
	margin-bottom: 10px;
}

#logged_in_as {
	display: flex;
}

#logged_in_as .left {
	flex-grow: 1;
}